@model AdvancedTaskTracker.Models.Project

@{
    ViewData["Title"] = "Details";
}

<h1>Project Details</h1>

<div>
    <hr />
    <dl class="row">
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Name)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Name)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Description)
        </dt>
        <dd class = "col-sm-10">
            @Html.DisplayFor(model => model.Description)
        </dd>
        <dt class = "col-sm-2">
            @Html.DisplayNameFor(model => model.Tasks)
        </dt>
        <dd class = "col-sm-10 pb-3">
            @foreach(var task in Model.Tasks)
            {
                <div>
                <a asp-action="Details" asp-controller="Tasks" asp-route-id="@task.Id">
                    @task.Title
                </a>
                </div>
            }
        </dd>
    </dl>
</div>
<div>
    <a asp-action="Edit" asp-route-id="@Model?.ProjectId">Edit</a> |
    <a asp-action="Index">Back to List</a>
</div>
